/* IE ONLY CSS */
image{
margin:0px;
padding:0px;
}

#minicart{
float:left;
width:177px;
height:76px;
margin-bottom:7px;
padding-left:10px;
}
#minicart a{
color:#357d30;
font-size:11px;
font-weight:bold;
display:block;
margin:0px 0px 0px 0px;
}
#minicart a img{

margin-top:-10px;
}
.minicart{
float:left;
padding:0px 0px 0px 0px;
color:#53bde9;
font-size:12px;
font-weight:bold;
margin-top:-7px;
width:160px;
height:65px;
}
.inputbox {
background:url(../images/textbox.png) no-repeat top left;
padding-top:1px;

}
#title_field, #country_field, #state{
float:left;
width:161px;
height:18px;
border:1px solid gray;
/*background:url(../images/textbox.png) no-repeat top left;*/
background:none;
}

select.inputbox{
float:left;
width:161px;
height:18px;
border:1px solid gray;
background:none;
}


ul.ul_leftmenu li a{
margin:0px 0px 0px 10px;
padding:1px 0px 2px 0px;

}

ul.ul_leftmenu li{
margin-bottom:1px;
}
.mclr
{
clear:none;
margin:0px;
padding:0px;
}
.mar{
margin-bottom:5px;
}
.browseProductContainer1{

}